/* .sidenav-container { */
/*   height: 100%; */
/* } */
/**/
/* .sidenav { */
/*   width: 200px; */
/* } */

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.item-spacer {
  flex: 1 1 auto
}

a {
  text-decoration: none;
  color: blue;
}

.search-bar-container {
  // padding: 0px 56px 0px 8px;
  background: #eaf1fb;
  border-radius: 32px;
  display: flex;
  align-items: center;

  >input {
    flex: 1;
    font-size: 1.1rem;
    outline: none;
    border: none;
    background: inherit;
    min-width: 352px;
  }

  >button {
    color: black;
  }
}
