<div class="main-content">
  <div class="user-list">
    <div class="item-row">
      <div class="user-item">
        Bui Tuong Nhu
      </div>
      <div class="user-item">
        Bui Tuong Nhu
      </div>
    </div>

    <div class="item-row">
      <div class="user-item">
        Bui Tuong Nhu
      </div>
      <div class="user-item">
        Bui Tuong Nhu
      </div>
    </div>

    <div class="item-row">
      <div class="user-item">
        Bui Tuong Nhu
      </div>
      <div class="user-item">
        Bui Tuong Nhu
      </div>
    </div>

    <div class="item-row">
      <div class="user-item">
        Bui Tuong Nhu
      </div>
      <div class="user-item">
        Bui Tuong Nhu
      </div>
    </div>

    <div class="item-row">
      <div class="user-item">
        Bui Tuong Nhu
      </div>
      <div class="user-item">
        Bui Tuong Nhu
      </div>
    </div>

    <div class="item-row">
      <div class="user-item">
        Bui Tuong Nhu
      </div>
      <div class="user-item">
        Bui Tuong Nhu
      </div>
    </div>

    <div class="item-row">
      <div class="user-item">
        Bui Tuong Nhu
      </div>
    </div>
  </div>
</div>
