@use '@angular/material' as mat;
// @import './custom-palettes';

@include mat.core();

$magneto: (
  50 : #f0ece0,
  100 : #d9cfb3,
  200 : #bfb080,
  300 : #a5904d,
  400 : #927826,
  500 : #7f6000,
  600 : #775800,
  700 : #6c4e00,
  800 : #624400,
  900 : #4f3300,
  A100 : #ffc982,
  A200 : #ffb44f,
  A400 : #ff9e1c,
  A700 : #ff9303,
  contrast: (50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$rogue: (
  50 : #e6e6ed,
  100 : #c1c0d2,
  200 : #9796b4,
  300 : #6d6b96,
  400 : #4e4c80,
  500 : #2f2c69,
  600 : #2a2761,
  700 : #232156,
  800 : #1d1b4c,
  900 : #12103b,
  A100 : #7b77ff,
  A200 : #4944ff,
  A400 : #1811ff,
  A700 : #0700f6,
  contrast: (50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);


// $my-primary: mat.define-palette(mat.$indigo-palette, 500);
$antimess-primary: mat.define-palette($magneto, 500);
$antimess-accent: mat.define-palette($rogue, A200, A100, A400);

$antimess-theme: mat.define-light-theme((color: (primary: $antimess-primary,
        accent: $antimess-accent,
      ),
      typography: mat.define-typography-config(),
      density: 0, ));

@include mat.core-theme($antimess-theme);
@include mat.all-component-themes($antimess-theme);
// @include mat.button-theme($antimess-theme);
