<div class="wrapper">

  <!-- <nav mat-tab-nav-bar [backgroundColor]="background" [tabPanel]="tabPanel"> -->
  <!--   <div *ngFor="let link of links"> -->
  <!--     <a mat-tab-link (click)="activeLink = link" [active]="activeLink == link"> {{link}} </a> -->
  <!--   </div> -->
  <!-- </nav> -->
  <!-- <mat-tab-nav-panel #tabPanel> -->
  <!-- </mat-tab-nav-panel> -->

  <mat-tab-group [(selectedIndex)]="activeTab">
    <mat-tab label="Discover">
      <ng-template matTabContent *ngTemplateOutlet="userListTemplate; context: {userList: discoverList}">
      </ng-template>
    </mat-tab>

    <mat-tab label="FriendList">
      <ng-template matTabContent *ngTemplateOutlet="userListTemplate; context: {userList: friendList}">
      </ng-template>
    </mat-tab>

    <mat-tab label="Pending Requests">
      <ng-template matTabContent *ngTemplateOutlet="userListTemplate; context: {userList: pendingRequests}">
      </ng-template>
    </mat-tab>

    <mat-tab label="Waitlist">
      <ng-template matTabContent *ngTemplateOutlet="userListTemplate; context: {userList: waitList}">
      </ng-template>
    </mat-tab>
  </mat-tab-group>

</div>

<ng-template #userListTemplate let-userList="userList">
  <div class="list-container" *ngIf="userList.length">
    <div class="user-content" *ngFor="let user of userList">
      <div class="content-item">
        <img src={{user.imageUrl}} alt="">
      </div>
      <div class="content-item" [ngStyle]="{flex: '1'}">
        <button class="username-click" (click)="showUserDetail(user)"><span>{{user.lastName}}
            {{user.firstName}}</span></button>
      </div>
      <div class="content-item" *ngIf="userList == discoverList">
        <button type="button" class="add-friend-button" matTooltip="send request" mat-icon-button
          (click)="addFriend(user)">
          <mat-icon>add</mat-icon>
        </button>
      </div>

      <div class="content-item" *ngIf="userList == waitList">
        <button type="button" class="accept-request-button" matTooltip="accept request" mat-icon-button
          (click)="addFriend(user)">
          <mat-icon>check</mat-icon>
        </button>
      </div>

      <div class="content-item" *ngIf="userList == pendingRequests">
        <button type="button" class="cancel-request-button" matTooltip="cancel request" mat-icon-button
          (click)="cancelRequest(user)">
          <mat-icon>cancel</mat-icon>
        </button>
      </div>

      <div class="content-item" *ngIf="userList == friendList">
        <button type="button" class="send-message-button" matTooltip="start chatting" mat-icon-button
          (click)="startChatting(user)">
          <mat-icon>send</mat-icon>
        </button>
      </div>
    </div>
  </div>
  <span *ngIf="!userList.length">There is no user on this list</span>
</ng-template>
